/**
 * Copyright 2017 Cassiano Rocha Kuplich
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow-y: hidden;

  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 16px;
  color: #fff;
}

#container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-flow: row nowrap;
}

#main {
  min-width: 100%;

  flex: 1 auto;
  order: 1;

  display: flex;
  flex-flow: column nowrap;
}

#main > header {
  min-height: 48px;
  margin: 0;
  padding: 0;

  background-color: #1d4ba0;
  line-height: 1.7142;
}

#navigation-btn {
  display: inline-block;
  min-height: 48px;
  min-width: 48px;
  padding: 0;

  color: #fff;
  font-size: 1.75em;
  text-align: center;
  text-decoration: none;
}

#main > header > h1 {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 1.75em;
}

#map {
  flex: 1 auto;
}

.loc-info-title {
  font-size: 20px;
  font-weight: bold;
  color: #1d4ba0;
}

.loc-info-text {
  font-size: 16px;
  color: #1d4ba0;
}

.loc-article-list {
  list-style-type: none;
  padding: 0 0 0 8px;
  margin: 12px 0;
}

.loc-article-list a, .loc-article-list a:visited {
  display: block;
  color: #f01b21;
  font-size: 16px;
  line-height: 3;
  text-decoration: underline;
}

#navigation {
  min-width: 270px;
  margin-left: -270px;

  order: 0;

  display: flex;
  flex-flow: column nowrap;

  background-color: #1d4ba0;
  font-size: 1em;
  transition: margin-left 0.5s ease;
}

#navigation.visible {
  margin-left: 0;
}

#locations-filter {
  height: 32px;
  min-height: 32px;
  margin: 8px;
  padding: 4px;

  border: 0;
  font-size: 1em;
}

#locations {
  margin: 0;
  padding: 0;
  overflow-y: auto;

  flex: 1 auto;

  list-style-type: none;
}

#locations > li {
  height: 48px;
  padding: 8px;

  line-height: 2;
}

#locations > li:hover {
  color: #f01b21;
  background-color: #fed201;
  cursor: pointer;
}

#about-link {
  min-height: 48px;

  border-top: 2px solid #fed201;
  color: #fff;
  line-height: 2.875;
  text-align: center;
}

#about {
  position: absolute;
  top: 150%;
  left: 0;
  width: 270px;
  height: 100%;
  transition: top 0.5s ease;

  display: flex;
  flex-flow: column nowrap;

  background-color: #1d4ba0;
}

/* Ensures that the about info will be open only when navigation is visible */
#navigation.visible + #about.open {
  top: 0;
}

#about > header {
  min-width: 48px;

  border-bottom: 2px solid #fed201;
}

#about > header > h2 {
  display: inline-block;
  height: 48px;
  margin: 0;
  padding: 8px;

  font-size: 1.5em;
  line-height: 1.33;
}

#about-close-btn {
  display: block;
  float: right;
  min-width: 48px;
  min-height: 48px;

  color: #fff;
  font-size: 1.75em;
  line-height: 1.7142;
  text-align: center;
  text-decoration: none;
}

#about-content {
  flex: 1 auto;
  overflow-y: auto;
  padding: 8px;
}

#about-content h3 {
  font-size: 1.25em;
}

#about-content p {
  margin: 0 0 16px 0;
}

#about-content a {
  color: #fff;
}

@media (min-width: 600px) {
  #main {
    min-width: auto;
  }

  #navigation-btn {
    display: none;
  }

  #main > header > h1 {
    padding-left: 8px;
  }

  #navigation {
    margin-left: 0;
  }

  #about.open {
    top: 0;
  }
}
